<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Zeedle, Market, Scan, Cards">
    <title>Zeedle Market Scan</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#wiki">Wiki</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <div id="items" class="grid-container">
                <!-- Items and their counts will be added using JavaScript -->
            </div>
            <hr>
            <div id="characters" class="grid-container">
                <!-- Characters and their counts will be added using JavaScript -->
            </div>
            <div id="searchContainer">
                <input id="searchInput" type="text" autocomplete="off" placeholder="Search by Serial Number or Card Name" name="text" class="input">
                <button id="searchButton">Search</button>
            </div>
            <div id="searchItems" class="grid-container">
                <!-- Search results for items will be added using JavaScript -->
            </div>
            <hr>
            <div id="searchCharacters" class="grid-container">
                <!-- Search results for characters will be added using JavaScript -->
            </div>
        </section>
    </main>    
    
    <footer>
        <p>© 2023 Zeedle Market Scan</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>
